{%- liquid
  assign animation_name = 'cart-items-fade'
  assign animation_duration = 500
  assign animation_delay = 200
  assign animation_delay_increment = 50
  assign animation_delay_cart_empty = 0
  assign is_cart_drawer = true
  assign cart_item_count = cart.item_count
  assign cart_custom_message_text = settings.cart_custom_message_text
  assign show_empty_cart_menu = settings.show_empty_cart_menu
  assign empty_cart_menu = settings.empty_cart_menu
  assign custom_message_color = settings.cart_cust_message_color
  assign show_wheel = false
  assign show_progress_bar = true
-%}

{%- unless custom_message_color == 'rgba(0,0,0,0)' or custom_message_color == blank -%}
  {%- style -%}
    .drawer__message--custom { --text: {{ custom_message_color }}; }
  {%- endstyle -%}
{%- endunless -%}

{%- capture upsell_products -%}
  {%- render 'cart-line-items', part: 'upsell-items' -%}
{%- endcapture -%}

<div class="drawer drawer--cart" id="cart-drawer" data-cart-drawer tabindex="0">
  <div class="drawer__inner" data-scroll-lock-scrollable>
    {%- if cart_custom_message_text != blank -%}
      <div
        class="drawer__message cart__message drawer__message--custom"
        data-animation="{{ animation_name }}"
        data-animation-duration="{{ animation_duration }}"
        data-animation-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
      >
        {{ cart_custom_message_text }}
      </div>
    {%- endif -%}

    <header
      class="drawer__head"
      data-animation="{{ animation_name }}"
      data-animation-duration="{{ animation_duration }}"
      data-animation-delay="{{ animation_delay }}"
      {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
    >
      <h3>{{ 'cart.general.title' | t }}</h3>

      <button type="button" class="drawer__close" data-cart-drawer-close aria-label="{{ 'general.accessibility.close' | t }} {{ 'cart.general.title' | t }}">
        {%- render 'icon-cancel' -%}
      </button>
    </header>

    <div class="drawer__body" data-cart-drawer-body data-scroll-lock-scrollable>
      {% comment %} Free shipping {% endcomment %}

{%- liquid
  assign free_shipping_text = block.settings.message | default: settings.message
  assign show_message = false

  if block.settings.message != blank
    assign show_message = true
  endif

  if settings.show_free_shipping_message and settings.free_shipping_limit != blank and free_shipping_text != blank
    assign show_message = true
  endif
-%}

{%- if show_message -%}
  {%- liquid
    assign limit = settings.free_shipping_limit | plus: 0
    assign limit_currency = limit | times: 100
    assign subtotal_without_currency = cart.total_price | plus: 0 | divided_by: 100
    assign percent = limit | minus: subtotal_without_currency | times: 100 | divided_by: limit
    assign percent = 100 | minus: percent

    if settings.currency_code_enable
      assign limit_currency = limit_currency | minus: cart.total_price | money_with_currency | remove: '.00' | remove: ',00'
    else
      assign limit_currency = limit_currency | minus: cart.total_price | money_without_trailing_zeros
    endif

    capture left_to_spend
      echo '<span data-left-to-spend>' | append: limit_currency | append: '</span>'
    endcapture

    assign free_shipping_message = free_shipping_text | replace: '||amount||', left_to_spend
    assign qualified_shipping_message = 'cart.general.qualified_shipping_message' | t

    capture free_shipping_classes
      if is_cart_drawer
        echo 'drawer__message '
      endif

      if template.name == 'cart'
        echo 'cart__message '
      endif

      echo 'free-shipping'

      if subtotal_without_currency >= limit and qualified_shipping_message != blank
        echo ' is-success'
      endif
    endcapture
  -%}

  <div class="{{ free_shipping_classes }}"
    data-free-shipping="{% if qualified_shipping_message != blank %}true{% else %}false{% endif %}"
    data-free-shipping-limit="{{ limit }}"
    {% if template.name == 'cart' or is_cart_drawer %}
      data-animation="{{ animation_name }}"
      data-animation-duration="{{ animation_duration }}"
      {% if empty_cart %}
        {% assign animation_cart_empty_delay = animation_cart_empty_delay | plus: 50 %}
        data-animation-delay="{{ animation_cart_empty_delay }}"
      {% else %}
      {% assign animation_delay = animation_delay | plus: 50 %}
        data-animation-delay="{{ animation_delay }}"
      {% endif %}
    {% endif %}
    >
    {%- if show_wheel -%}
      <div class="free-shipping__graph" data-progress-graph style="--stroke-dashoffset: 87.96459430051421;">
        <svg height="18" width="18">
          <circle r="7" cx="9" cy="9" />
          <circle class="free-shipping__graph-progress" stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
        </svg>
      </div>
    {%- endif -%}

    {%- if qualified_shipping_message != blank -%}
      <span class="free-shipping__success-message">{{ qualified_shipping_message }}</span>
    {%- endif -%}

    <span class="free-shipping__default-message">
      {{ free_shipping_message }}
    </span>

    {%- if show_progress_bar -%}
      <progress class="free-shipping__progress-bar" data-progress-bar value="{{ percent }}" max="100"></progress>
    {%- endif -%}

    <div class="confetti">
      <span class="confetti__dot confetti__dot--1"></span>
      <span class="confetti__dot confetti__dot--2"></span>
      <span class="confetti__dot confetti__dot--3"></span>
      <span class="confetti__dot confetti__dot--4"></span>
      <span class="confetti__dot confetti__dot--5"></span>
      <span class="confetti__dot confetti__dot--6"></span>
    </div>
  </div>
{%- endif -%}

      {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}

      <div class="cart__errors drawer__errors"
        data-cart-errors
        data-animation="{{ animation_name }}"
        data-animation-duration="{{ animation_duration }}"
        data-animation-delay="{{ animation_delay }}">
        <div class="cart__errors__inner">
          <h5 class="cart__errors__heading">{{ 'cart.general.limit_message' | t }}</h5>

          <p class="cart__errors__content" data-error-message></p>

          <button class="cart__errors__close" type="button" data-cart-error-close aria-label="{{ 'general.accessibility.close' | t }} {{ 'cart.general.title' | t }}">
            {%- render 'icon-cancel' -%}
          </button>
        </div>
      </div>

      <div class="drawer__items{% if cart_item_count <= 0 %} is-hidden{% endif %}"
        data-items-holder
        style="--base-animation-delay: {{ animation_delay }}ms">

        {%- render 'cart-line-items', part: 'line-items' -%}
        {%- liquid
          comment
            Incraese animation delay by using the cart item count limited up to 3
          endcomment
          assign animation_multiplier = cart_item_count | at_most: 3
          assign animation_delay_after_items = animation_multiplier | times: animation_delay_increment
          assign animation_delay = animation_delay | plus: animation_delay_after_items
        -%}
      </div>

      <div class="drawer__empty{% if cart_item_count > 0 %} is-hidden{% endif %}"
        data-cart-empty
        style="--base-animation-delay: {{ animation_delay }}ms">

        <div class="drawer__empty__inner">
          <p class="drawer__empty__message" data-animation="{{ animation_name }}" data-animation-duration="{{ animation_duration }}" data-animation-delay="{{ animation_delay_cart_empty }}">
            {{- 'cart.general.empty' | t -}}
          </p>
          {%- assign animation_delay_cart_empty = animation_delay_cart_empty | plus: animation_delay_increment -%}

          {%- if show_empty_cart_menu and linklists[empty_cart_menu].links.size > 0 -%}
            <div class="drawer__empty__buttons">
              {%- for link in linklists[empty_cart_menu].links -%}
                {%- liquid
                  assign is_odd_last = false
                  capture index_type
                    cycle 'odd', 'even'
                  endcapture

                  if forloop.last and index_type == 'odd'
                    assign is_odd_last = true
                  endif
                -%}

                <div
                  class="drawer__empty__item{% if is_odd_last %} drawer__empty__item--odd--last{% endif %}"
                  data-animation="{{ animation_name }}"
                  data-animation-duration="{{ animation_duration }}"
                  data-animation-delay="{{ animation_delay_cart_empty }}"
                  {%- assign animation_delay_cart_empty = animation_delay_cart_empty | plus: animation_delay_increment -%}
                >
                  <a href="{{ link.url }}" class="btn btn--full btn--primary btn--outline">
                    {{ link.title | strip_html | escape }}
                  </a>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- if settings.cart_product -%}
            <div class="drawer__empty__product"
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay_cart_empty }}"
            >
              {%- render 'upsell-product', upsell_product: settings.cart_product -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>

    <div class="drawer__foot cart__foot{% if cart_item_count == 0 %} is-hidden{% endif %}" data-foot-holder>
      <collapsible-elements single="true">
        <details
          class="cart__widget cart__widget--products accordion{% if upsell_products == blank %} is-hidden{% endif %}"
          {% if upsell_products != blank %}
            open="true"
          {% endif %}
          data-collapsible
          data-upsell-widget
          data-animation="{{ animation_name }}"
          data-animation-duration="{{ animation_duration }}"
          data-animation-delay="{{ animation_delay }}"
          {% if cart_item_count > 0 %}
            {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
          {% endif %}>
          <summary class="cart__widget__title" data-collapsible-trigger>
            {{- 'cart.general.pair_products' | t -}}

            {%- render 'icon-plus' -%}
            {%- render 'icon-minus' -%}
          </summary>

          <div class="cart__widget__content"{% if upsell_products != blank %} style="height: auto;"{% endif %} data-collapsible-body>
            <div class="cart__widget__content__inner" data-collapsible-content>
              <div class="cart__widget__products" data-upsell-products>
                {{- upsell_products -}}
              </div>
            </div>
          </div>
        </details>

        <form action="{{ routes.cart_url }}" method="post" novalidate class="cart__form">
          {%- if settings.enable_order_notes -%}
            <details
              class="cart__widget accordion"
              data-collapsible
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}>
              <summary class="cart__widget__title" data-collapsible-trigger>
                {{- 'cart.general.cart_notes_label' | t -}}

                {%- render 'icon-plus' -%}
                {%- render 'icon-minus' -%}
              </summary>

              <div class="cart__widget__content" data-collapsible-body>
                <div class="cart__widget__content__inner" data-collapsible-content>
                  <label for="note">{{ 'cart.general.customer_note' | t }}</label>
                  <textarea id="note" name="note" class="cart__field cart__field--textarea"  aria-label="{{ 'cart.general.customer_note' | t }}">
                    {{- cart.note -}}
                  </textarea>
                </div>
              </div>
            </details>
          {%- endif -%}

          {%- if settings.enable_gift_notes -%}
            <details
              class="cart__widget accordion"
              data-collapsible
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}>
              <summary class="cart__widget__title" data-collapsible-trigger>
                {{- 'cart.general.gift_notes_label' | t -}}

                {%- render 'icon-plus' -%}
                {%- render 'icon-minus' -%}
              </summary>

              <div class="cart__widget__content" data-collapsible-body>
                <div class="cart__widget__content__inner" data-collapsible-content>
                  {%- assign gift_note_attribute_default = 'Gift note' -%}
                  {%- assign gift_note_attribute_string = 'cart.general.gift_note_attribute' | t -%}
                  {%- assign gift_note_attribute = gift_note_attribute_string | default: gift_note_attribute_default -%}

                  <label for="gift-note">{{ 'cart.general.customer_note' | t }}</label>
                  <textarea id="gift-note" name="attributes[{{ gift_note_attribute }}]" class="cart__field cart__field--textarea" aria-label="{{ 'cart.general.customer_note' | t }}">{{ cart.attributes[gift_note_attribute] }}</textarea>
                </div>
              </div>
            </details>
          {%- endif -%}

          {%- if settings.enable_estimate_shipping -%}
            <details
              class="cart__widget accordion"
              data-collapsible
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}>
              <summary class="cart__widget__title" data-collapsible-trigger>
                {{- 'cart.general.estimate_shipping_label' | t -}}

                {%- render 'icon-plus' -%}
                {%- render 'icon-minus' -%}
              </summary>

              <div class="cart__widget__content" data-collapsible-body>
                <div class="cart__widget__content__inner" data-collapsible-content>
                  <!-- /partials/cart-shipping-calculator.liquid -->
{% assign calculate_shipping_btn = 'cart.shipping_calculator.calculate_shipping' | t %}

<div id="shipping-calculator" class="shipping-calculator">
  <div class="shipping-calculator__container" id="address_container">
    <div class="is-hidden">
      <label for="AddressFirstName">{{ 'customer.addresses.first_name' | t }}</label>
      <input type="text" id="AddressFirstName" name="address[first_name]" value="{{ form.first_name }}">
    </div>

    <div class="is-hidden">
      <label for="AddressLastName">{{ 'customer.addresses.last_name' | t }}</label>
      <input type="text" id="AddressLastName" name="address[last_name]" value="{{ form.last_name }}">
    </div>

    <div class="is-hidden">
      <label for="AddressCompany">{{ 'customer.addresses.company' | t }}</label>
      <input type="text" id="AddressCompany" name="address[company]" value="{{ form.company }}">
    </div>

    <div class="is-hidden">
      <label for="AddressAddress1">{{ 'customer.addresses.address1' | t }}</label>
      <input type="text" id="AddressAddress1" name="address[address1]" value="{{ form.address1 }}">
    </div>

    <div class="is-hidden">
      <label for="AddressAddress2">{{ 'customer.addresses.address2' | t }}</label>
      <input type="text" id="AddressAddress2" name="address[address2]" value="{{ form.address2 }}">
    </div>

    <div class="is-hidden">
      <label for="AddressCity">{{ 'customer.addresses.city' | t }}</label>
      <input type="text" id="AddressCity" name="address[city]" value="{{ form.city }}">
    </div>

    <div class="p">
      <label for="address_country">{{ 'customer.addresses.country' | t }}</label>
      <select id="address_country" name="address[country]" class="cart__field" {% if shop.customer_accounts_enabled and customer %}data-default="{{ customer.default_address.country_code }}" data-default-fullname="{{ customer.default_address.country }}"{% elsif default_country != '' %}data-default="{{ default_country.iso_code }}" data-default-fullname="{{ default_country }}"{% endif %}></select>
    </div>

    <div id="address_province_container"  class="p shipping-calculator__province">
      <label for="address_province" id="address_province_label">{{ 'customer.addresses.province' | t }}</label>
      <select id="address_province" class="address_form cart__field" name="address[province]" {% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}data-default="{{ customer.default_address.province_code }}" data-default-fullname="{{ customer.default_address.province }}"{% endif %}></select>
    </div>

    <div class="p">
      <label for="address_zip">{{ 'customer.addresses.zip' | t }}</label>
      <input type="text" id="address_zip" class="cart__field" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %}>
    </div>

    <div class="is-hidden">
      <label for="AddressPhone">{{ 'customer.addresses.phone' | t }}</label>
      <input type="tel" id="AddressPhone" name="address[phone]" value="{{ form.phone }}">
    </div>
  </div>

  <div id="wrapper-response"></div>

  <button type="button" class="get-rates{% if cart.item_count > 0 %} get-rates--trigger{% endif %} btn btn--outline btn--primary btn--full">{{ calculate_shipping_btn }}</button>
</div>

<script id="shipping-calculator-response-template" type="text/template">
  <p id="shipping-rates-feedback" class="{% raw %}||successClass||{% endraw %}" data-template-no-shipping="{{ 'cart.shipping_calculator.no_shipping_available' | t }}">
    {% raw %}||ratesText||{% endraw %}
  </p>

  <ul id="shipping-rates">
    [<li><span>{% raw %}||rateName||{% endraw %}</span> <span>{% raw %}||ratePrice||{% endraw %}</span></li>]
    {% raw %}||ratesList||{% endraw %}
  </ul>
</script>

                </div>
              </div>
            </details>
          {%- endif -%}

          <div class="cart__foot__inner"
            data-animation="{{ animation_name }}"
            data-animation-duration="{{ animation_duration }}"
            data-animation-delay="{{ animation_delay }}">

            <div class="cart__price__holder" data-cart-price-holder>
              {%- liquid
  assign subtotal = cart.total_price | plus: 0
  assign cart_discount_size = cart.cart_level_discount_applications.size
  assign original_subtotal = cart.original_total_price | plus: 0
  assign currency_code_enable = settings.currency_code_enable

  if currency_code_enable
    assign original_subtotal_formatted = original_subtotal | money_with_currency
  else
    assign original_subtotal_formatted = original_subtotal | money
  endif

  if original_subtotal < subtotal or cart_discount_size == 0
    assign cart_total_hidden = true
  endif

  if cart_discount_size == 0
    assign cart_total_discount_hidden = true
  endif
-%}

<div class="cart__total{% if cart_total_hidden %} is-hidden{% endif %}"
  {% unless cart_total_hidden %}
    data-animation="{{ animation_name }}"
    data-animation-duration="{{ animation_duration }}"
    data-animation-delay="{{ animation_delay }}"
    {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
  {% endunless %}
>
  <span class="cart__total__label">{{ 'cart.general.subtotal_items' | t }}</span>

  <span class="cart__total__price">
    {%- if original_subtotal == 0 -%}
      {{ 'general.money.free' | t }}
    {%- else -%}
      {{- original_subtotal_formatted -}}
    {%- endif -%}
  </span>
</div>

<div class="cart__total__discount{% if cart_total_discount_hidden %} is-hidden{% endif %}"
  {% unless cart_total_discount_hidden %}
    data-animation="{{ animation_name }}"
    data-animation-duration="{{ animation_duration }}"
    data-animation-delay="{{ animation_delay }}"
    {% if cart_discount_size > 0 %}
      {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
    {% endif %}
  {% endunless %}
>
  {%- if cart.cart_level_discount_applications.size > 0 -%}
    {%- for discount in cart.cart_level_discount_applications -%}
      {%- liquid
        if currency_code_enable
          assign discount_total_allocated_amount = discount.total_allocated_amount | money_with_currency
        else
          assign discount_total_allocated_amount = discount.total_allocated_amount | money
        endif
      -%}

      <div class="cart__total">
        <div>
          {%- render 'icon-tags' -%}

          <span>
            {{- discount.title -}}
          </span>
        </div>

        <span>
          -{{- discount_total_allocated_amount -}}
        </span>
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>

<div class="cart__total"
  data-animation="{{ animation_name }}"
  data-animation-duration="{{ animation_duration }}"
  data-animation-delay="{{ animation_delay }}"
  {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
>
  <span class="cart__total__label">{{- 'cart.general.subtotal' | t -}}</span>

  <span class="cart__total__price cart__total__price--animated" data-cart-total="{{ subtotal }}">
    {%- if subtotal == 0 -%}
      {{ 'general.money.free' | t }}
    {%- else -%}
      {{- subtotal | money_with_currency -}}
    {%- endif -%}
  </span>

  <div class="cart__price__loader loader"><div class="loader-indeterminate"></div></div>
</div>
            </div>

            <div class="cart__button"
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}>
              <a href="/cart" name="checkout" class="btn btn--primary btn--solid btn--full cart__checkout">
                {%- if settings.show_lock_icon -%}
                  {%- render 'animated-icon', filename: 'icon-lock' -%}
                {%- endif -%}

                {{- 'cart.general.checkout' | t -}}
              </a>
              <span class="center label--block callout-label">{{- 'cart.general.collout_shipping_note' | t -}}</span>
            </div>

            <em class="cart__note"
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}>
              {{- 'cart.general.subtotal_note' | t -}}
            </em>
          </div>

          {%- if settings.enable_additional_buttons and additional_checkout_buttons -%}
            <div class="additional-checkout-buttons additional-checkout-buttons--vertical"
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}>
              {{- content_for_additional_checkout_buttons -}}
            </div>
          {%- endif -%}
        </form>
      </collapsible-elements>
    </div>
  </div>

  <span class="drawer__underlay" data-drawer-underlay></span>
</div>
