<!-- /snippets/collection-grid-item.liquid -->

{% comment %}
    Renders a list of collections in grid format

    Accepts:
    - collection: {Object} Collction to render (required)
    - grid_strings: {String} contains a string of grid classes
    - animation_delay: {Int} number of miliseconds to delay for position in loop
    - animation_anchor: Trigger animation selector

    Usage:
    {% render 'collection-grid-item', block: block, grid_strings: grid_strings, animation_delay: animation_delay, animation_anchor: animation_anchor %}
{% endcomment %}

{% assign collection = collections[block.settings.collection] %}
{% assign collection_title = block.settings.title %}
{%- assign additional_attributes = additional_attributes | default: '' -%}

{% assign border_class = '' -%}
{%- if settings.product_grid_outline == false -%}
  {% assign border_class = 'collection-item--borderless' -%}
{%- endif -%}

{% assign alignment_class = '' -%}
{%- if settings.product_grid_center -%}
  {% assign alignment_class = 'collection-item--centered' -%}
{%- endif -%}

{% if collection == empty %}
  <div class="collection-item {{ grid_strings }} {{ border_class }} {{ alignment_class }} collection-item--no-image" {{ additional_attributes }} {{ block.shopify_attributes }}>
    <div class="collection-item__image svg-placeholder"{% if section.settings.aspect_ratio %} style="padding-top: {{ section.settings.aspect_ratio | times: 100}}%;"{% endif %}>
      {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
      {{ 'collection-' | append: current | placeholder_svg_tag }}
    </div>
    <div class="collection-item__info">
      <p>{% if collection_title != blank %}{{ collection_title }}{% else %}{{ 'collections.general.items.heading' | t }}{% endif %}</p>
    </div>
  </div>
{% else %}
  <div class="collection-item {{ grid_strings }} {{ border_class }} {{ alignment_class }}" {{ additional_attributes }} {{ block.shopify_attributes }}>
      <a aria-label="{{ collection.title | strip_html | escape }}" href="{{ collection.url }}" class="collection-item__image">
        <div class="collection-item__bg" 
          data-aos="img-in"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-delay="{{ animation_delay | times: 150 }}" 
          data-aos-duration="{{ animation_delay | times: 100 | plus: 800 }}" 
          data-aos-easing="ease-out-quart">
          {% if collection.image %}
              {%- assign img_object = collection.image -%}
          {%- elsif collection.products.first -%}
            {%- assign img_object = collection.products.first.featured_media.preview_image -%}
          {%- endif -%}
            {% render 'image-fill', img_object: img_object, aspect_ratio: section.settings.aspect_ratio %}
        </div>
      </a>
    <div class="collection-item__info"
      data-aos="fade"
      data-aos-anchor="{{ animation_anchor }}"
      data-aos-delay="{{ animation_delay | times: 150 }}"
      data-aos-duration="{{ animation_delay | times: 50 | plus: 800 }}">
      <a tabindex="-1" href="{{ product.url | within: collection }}">
        <p>
          {{ collection_title | default: collection.title }}
        </p>
      </a>
    </div>
  </div>
{%- endif -%}
