{% assign sca_product = product %}{% assign sca_product_id_text = "," | append : sca_product.id | append : "," %}{% assign sca_price = sca_product.price %}{% assign sca_price_min = sca_product.price_min %}{% assign sca_price_max = sca_product.price_max %}{% assign sca_compare_at_price = sca_product.compare_at_price %}{% assign sca_compare_at_price_min = sca_product.compare_at_price_min %}{% assign sca_compare_at_price_max = sca_product.compare_at_price_max %}{% assign sca_product_available = sca_product.available %}{% assign sca_product_variantCount = sca_product.variants.size %}{% assign sca_compare_at_price_varies = sca_product.compare_at_price_varies %}{% assign sca_price_varies = sca_product.price_varies %}{% assign sca_has_only_default_variant = false %}{% capture sca_product_variants_json %}{{sca_product.variants | json }}{% endcapture %} {% capture sca_product_json %}{ {% if sca_all_gift_products_ids == null or sca_all_gift_products_ids contains sca_product_id_text %}{% assign sca_product_available = false %}{% assign sca_product_variantCount = 0 %}{% assign sca_has_only_default_variant = true %}{% assign sca_is_first_variant = true %}{% capture sca_variants_json %} [{% for variant in sca_product.variants %}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% unless variant.title contains '% Off' %}{% unless variant.metafields.shappify_qb.qb_hide == "1" %}{% unless variant.metafields.shappify_bundle.is_bundle == "true" %}{% unless variant.metafields.brodev_scn.hide == "true" %}{% unless variant.metafields.wholesaler2.wholesale %}{% unless variant.metafields.Wholesaler.level %}{% unless variant.title contains '(Wholesale' %}{% if sca_is_first_variant%} {{ variant | json }}{% assign sca_price = variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price_max = variant.price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% assign sca_product_available = variant.available %} {% assign sca_product_variantCount = 1 %} {% assign sca_is_first_variant = false%}{% else %},{{variant | json }} {% if sca_price_min >= variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price = variant.price %}{% endif %} {% if sca_price_max <= variant.price %} {% assign sca_price_max = variant.price %} {% endif %} {% if variant.compare_at_price %} {% if sca_compare_at_price_min==null or sca_compare_at_price_min >= variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% endif %} {% if sca_compare_at_price_max==null or sca_compare_at_price_max < variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% endif %} {% endif %} {% if variant.available == true %} {% assign sca_product_available = true %} {% endif %} {% assign sca_product_variantCount = sca_product_variantCount | plus: 1 %}{% endif %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{%endfor%} ]{% endcapture %}{% if sca_price_min < sca_price_max %}{% assign sca_price_varies = true %}{% else %}{% assign sca_price_varies = false %}{% endif %}{% if sca_compare_at_price_min < sca_compare_at_price_max %}{% assign sca_compare_at_price_varies = true %}{% else %}{% assign sca_compare_at_price_varies = false %}{% endif %}{% if sca_product_variantCount > 1 %}{% assign sca_has_only_default_variant = false %}{% endif %}{% if sca_product_variantCount == sca_product.variants.size %} "variants":{{ sca_product.variants }},{% else %}{%assign sca_product_variants_json = sca_variants_json %} "variants":{{ sca_variants_json }},{% endif %}{% else %} "variants":{{ sca_product_variants_json }},{% endif %} "id": {{sca_product.id}}, "title": {{sca_product.title | json}}, "handle": {{sca_product.handle | json}}, "description": {{sca_product.description | json}}, "published_at": "{{sca_product.published_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "created_at": "{{sca_product.created_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "vendor": {{sca_product.vendor | json}}, "type": {{sca_product.type | json}}, "tags": {{sca_product.tags | json}}, "price": {{sca_price}}, "price_min": {{sca_price_min}}, "price_max": {{sca_price_max}}, "available": {{sca_product.available}}, "price_varies": {{sca_price_varies}}, "compare_at_price": {{sca_compare_at_price}}, "compare_at_price_min": {{sca_compare_at_price_min}}, "compare_at_price_max": {{sca_compare_at_price_max}}, "compare_at_price_varies": {{sca_compare_at_price_varies}}, "images": {{sca_product.images | json}}, "featured_image": {{sca_product.featured_image | json }}, "options": {{sca_product.options | json}}, "media": {{sca_product.media | json }}, "content": {{sca_product.content | json }}} {% endcapture sca_product_json %}

{% comment %}
    Renders list of products in grid layout

    Accepts:
    - product: {Object} product (required)
    - grid_strings: {String} contains a string of grid classes
    - animation_delay: {Int} animation timing for load
    - last_element: {Boolean} True when custom image is taking up the first slot for the collection
                              and the loop is on the last element for the page.
    - index: element index in the loop

    Usage:
    {% render 'product-grid-item', product: product, grid_strings: grid_strings, index: index %}
{% endcomment %}

{%- assign additional_attributes = additional_attributes | default: '' -%}
{%- assign aos_image_delay_default = animation_delay | times: 150 -%}
{%- assign aos_image_duration_default = animation_delay | times: 100 | plus: 800 -%}
{%- assign aos_text_duration_default = animation_delay | times: 50 | plus: 800 -%}
{%- assign aos_image_delay = aos_image_delay | default: aos_image_delay_default -%}
{%- assign aos_image_duration = aos_image_duration | default: aos_image_duration_default -%}
{%- assign aos_text_duration = aos_text_duration | default: aos_text_duration_default -%}

{%- unless grid_strings -%}
  {% assign grid_strings = "one-whole" %}
{%- endunless -%}

{%- assign border_class = '' -%}
{%- if settings.product_grid_outline == false -%}
  {%- assign border_class = 'product-item--borderless' -%}
{%- endif -%}

{%- assign alignment_class = '' -%}
{%- if settings.product_grid_center == true -%}
  {%- assign alignment_class = 'product-item--centered' -%}
{%- endif -%}

{%- if settings.quickview_enable == false and settings.color_swatches -%}
  {%- assign has_colors = false -%}

  {%- capture swatches -%}
    {%- capture swatch_translation -%}{{ 'general.swatches.color' | t }}{%- endcapture -%}

    {%- assign swatch_labels = swatch_translation | append: ',' | split: ',' -%}
    {%- for label in swatch_labels -%}
      {%- assign sanitized_label = label | lstrip | rstrip -%}
      {%- if product.options_by_name[sanitized_label].values.size > 0 -%}
        {%- assign has_colors = true -%}

        <form class="radio__fieldset radio__fieldset--swatches radio__fieldset--small" data-grid-swatch-form>
          <div class="selector-wrapper__scrollbar" data-scrollbar data-grid-swatches data-swatch-handle="{{ product.handle }}" data-swatch-label="{{ label }}"></div>

          <button type="button" class="radio__fieldset-arrow radio__fieldset-arrow--prev is-hidden" data-scrollbar-arrow-prev>
            <span class="visually-hidden">{{ 'products.general.see_all' | t }}</span>
          </button>

          <button type="button" class="radio__fieldset-arrow radio__fieldset-arrow--next is-hidden" data-scrollbar-arrow-next>
            <span class="visually-hidden">{{ 'products.general.see_all' | t }}</span>
          </button>
        </form>

        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}

{%- assign double_img = false -%}
{%- if product.media[1].preview_image and settings.image_hover_enable -%}
  {%- assign double_img = true -%}
{%- endif -%}
{%- assign current_variant = product.first_available_variant -%}

{%- assign product_url = product.url | within: collection -%}

{%- capture item_unique -%}product-item--{{ section.id }}-{{ index }}{%- endcapture -%}
{%- assign animation_anchor_default = item_unique | prepend: '.' -%}
{%- assign animation_anchor = animation_anchor | default: animation_anchor_default -%}

<div class="product-item one-quarter medium--one-half product-item--centered product-item--borderless" data-product-grid-item {{ additional_attributes }} data-handle="{{product.handle}}" data-variantid="{{product.selected_or_first_available_variant.id}}">
  {%- capture over_image_content -%}
    {%- assign product_tags = product.tags | join: ',' | append: ',' -%}
    {%- assign preorder = false -%}
    {%- assign on_sale = false -%}
    {%- assign sold_out = false -%}
    {%- assign badge = '' -%}
  
    {%- if product_tags contains '_badge_' -%}
      {%- assign badge = product_tags | split: '_badge_' -%}
      {%- assign badge = badge[1] | split: ',' | first | replace: '_', ' ' -%}
    {%- endif -%}

    {%- if product_tags contains '_preorder' -%}
      {%- assign preorder = true -%}
    {%- endif -%}

    {%- if sca_compare_at_price > sca_price and settings.sale_tags_enable -%}
      {%- assign on_sale = true -%}
    {%- endif -%}

    {%- unless product.available -%}
      {%- assign sold_out = true -%}
    {%- endunless -%}

    {%- if badge != '' -%}
      <span class="badge-box">{{ badge }}</span>
    {%- elsif preorder and sold_out == false -%}
      <span class="preorder-box">{{ 'products.product.pre_order' | t }}</span>
    {%- elsif on_sale and sold_out == false -%}
      <span class="sale-box">{{ 'products.product.on_sale' | t }}</span>
    {%- endif -%}
    
    {%- if settings.quickview_enable and current_variant -%}
      <button type="button" class="quick-add-button" tabindex="-1" data-button-quick-add-mobile{% if product.has_only_default_variant %} data-quick-add-button{% endif %}>
        <span class="visually-hidden">{{ 'products.general.quick_view' | t }}</span>

        <svg height="18" width="18" class="svg-loader">
          <circle r="7" cx="9" cy="9" />
          <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
        </svg>
      </button>

      <div class="slideup" data-quick-add-holder>
        <button type="button" class="caps is-disable" data-focus-element data-quick-add-label="{{ product.handle }}" data-collection-handle="{{ collection.handle | default: 'primary' }}" {% if product.has_only_default_variant %} data-quick-add-button{% endif %} tabindex="0">
          <span>
            <small>{{ 'products.general.quick_view' | t }}</small>
            
            <small>{{ 'products.product.pre_order' | t }}</small>
          </span>

          <span>{{ 'products.general.quick_view_added' | t }}</span>

          <svg height="18" width="18" class="svg-loader">
            <circle r="7" cx="9" cy="9" />
            <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
          </svg>

          <span class="caps__error" data-message-error>&nbsp;</span>
        </button>

        <div data-quick-add-form-holder>&nbsp;</div>
      </div>
    {%- endif -%}
  {%- endcapture -%}

  <div class="product-item__image{% if double_img %} double__image{% endif %}" data-product-image>
      {% if product.media.size > 0 %}
        <div class="product-item__bg lazyload"
          data-grid-slide
          data-aos="img-in"
          data-aos-delay="{{ aos_image_delay }}"
          data-aos-duration="{{ aos_image_duration }}"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-easing="ease-out-quart"
          data-bgset="{% render 'bgset', image: product.featured_media.preview_image %}">&nbsp;</div>
        {% if double_img %}
          <div class="product-item__bg__under lazyload" data-bgset="{% render 'bgset', image: product.media[1].preview_image %}">&nbsp;</div>
        {% endif %}
      {% else %}
        {%- comment -%} Show "No image" if product has no media {%- endcomment -%}
        {%- assign image_url_pattern = product.featured_image | img_url: '540x' | replace: '_540x.', '_{width}x.' -%}
        {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" -%}

        <div class="product-item__bg product-item__bg--empty"
          data-grid-slide
          data-aos="img-in"
          data-aos-delay="{{ aos_image_delay }}"
          data-aos-duration="{{ aos_image_duration }}"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-easing="ease-out-quart">
            <img
              class="lazyload"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="{{ image_url_pattern }}"
              data-widths= "{{ image_widths }}"
              data-aspectratio="1"
              data-sizes="auto"
              width="540"
              height="540"
              alt="{{ product.title | strip_html | escape }}">
        </div>
      {% endif %}

    {{ over_image_content }}

    <span><img style="display:none;" id="secomapp-fg-image-{{ product.id }}" src="{{ "icon-freegift.png" | asset_url }}" alt="Free Gift Icon" class="sca-fg-img-collect"></span>
    <span class="sca-fg-cat-list prod-show-list" style="display:none;" id="secomapp-fg-data-{{ product.id }}"></span>
  </div>

  <noscript>
    <a class="product-link" href="{{ product_url }}" aria-label="{{ product.title | strip_html | escape }}" data-grid-link>
      <div class="product-item__image no-js-image" style="background-image:url('{{ product.featured_media.preview_image | img_url: '540x' }}'); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>
    </a>
  </noscript>

  <div class="product-information"
    data-aos="fade"
    data-aos-delay="{{ aos_image_delay }}"
    data-aos-duration="{{ aos_text_duration }}"
    data-aos-anchor="{{ animation_anchor }}"
    data-product-information>
  
      {%- if settings.product_grid_show_rating and product.metafields.reviews.rating.value != blank -%}
        <div class="product__grid__stars">
          {% render 'product-rating', product: product %}
        </div>
      {%- endif -%}

      <p class="product__grid__title">
        {{ product.title | strip_html | escape }}
      </p>

<!-- Stamped - Begin badge -->
<span class="stamped-product-reviews-badge" data-id="{{ product.id }}" data-product-title="{{ product.title | escape }}" data-product-type="{{ product.type }}" style="display: block;"></span>
<!-- Stamped - End badge -->

      <span class="price{% if sca_compare_at_price > sca_price %} sale{% endif %}">
        {% if product.available %}
          <span class="new-price">
            {% if sca_price_varies %}
              <small>{{ 'products.general.from' | t }}</small>
            {% endif %}
            {%- if sca_price == 0 and sca_price_varies == false -%}
              {{ 'general.money.free' | t }}
            {%- else -%}
              {{ sca_price_min | money }}
            {%- endif -%}
          </span>
          {% if sca_compare_at_price > sca_price %}
            <span class="old-price">{{ sca_compare_at_price | money }}</span>
          {% endif %}
        {% else %}
          <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
        {% endif %}
      </span>
      {% if current_variant.unit_price %}
        {% capture unit_price_separator %}
          <span aria-hidden="true">/</span>
          <span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
        {% endcapture %}
        {% capture unit_price_base_unit %}
          {% if current_variant.unit_price_measurement.reference_value != 1 %}
            {{ current_variant.unit_price_measurement.reference_value }}
          {% endif %}
          {{ current_variant.unit_price_measurement.reference_unit }}
        {% endcapture %}
        <br>
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
        <span class="unit small">{{ current_variant.unit_price | money }}{{ unit_price_separator }}{{ unit_price_base_unit }}</span>
      {% endif %}

      {% if settings.quickview_enable == false and settings.color_swatches %}
        {% if has_colors %}
          <span class="grid__product-swatches-count" data-swatch-count>&nbsp;</span>
        {% endif %}

        {{ swatches }}
      {% endif %}
    
    <div class="product_add">
       {%- assign variant = product.selected_or_first_available_variant -%}
      <span class="add-btn-text btn ajax-add-to-cart {% if isProductInCart %} disabled{% endif %} {% if isGiftAdded %}disabled{% endif %}" data-variantid="{{variant.id}}">{% if isProductInCart %}Added{% else %}Add{% endif %}</span>
    </div>
     
  </div>
</div>
