{% comment %}
  Required params:
  img_object - Image object to use used
  frame_height_class - css class to control frame height

  This will set height for the containing section

  Example:
  {% render 'image-background', img_object: section.settings.image, frame_height_class: section.settings.image_height, bg_position: section.settings.bg_position %}
{% endcomment %}

{% comment %} DEFAULTS - parallax just defaults to false {% endcomment %}
{%- assign default_image = 'blank.svg' | asset_url -%}
{%- assign height = frame_height_class | default: 'image-height' -%}
{%- assign image = img_object | default: default_image -%}
{%- assign aspect_ratio = image.aspect_ratio | default: 2.63 -%}
{%- assign modifier = modifier | default: '' -%}

<div class="image__hero__frame fade-in-image-zoom {{ height }} {{ modifier }}"
  data-overflow-background
  {% if height == 'image-height' %}
    style="padding-top: {{ 1 | divided_by: aspect_ratio | times: 100 }}%;
           background-image: url('{{ image | img_url: '1x1' }}');"
  {% endif %}
  {% if settings.parallax_enable %}data-parallax-wrapper{% endif %}>

  <div class="image__hero__pane">
    <div class="image__hero__scale"
    {% if settings.parallax_enable %}
        style="height: {{ 1 | divided_by: aspect_ratio | times: 100 }}vw;"
        data-aspect-ratio="{{ aspect_ratio }}"
        data-parallax-img
    {% endif %}>
      <div class="background-size-cover lazyload"
        data-bgset="{% render 'bgset', image: image %}"
        style="background-position: {{ bg_position | replace: '-', ' ' }};"
        role="img"
        aria-label="{{ image.alt | strip_html | escape }}"></div>
    </div>
    
    <noscript>
      <div class="background-size-cover"
        style="background-image:url('{% if img_object != blank %}{{ image | img_url: '720x' }}{% else %}{{ image }}{% endif %}'); background-position: {{ bg_position | replace: '-', ' ' }}; background-repeat: no-repeat;"
        role="img"
        aria-label="{{ image.alt | strip_html | escape }}"></div>
    </noscript>
  </div>
</div>
