<!doctype html>
<html class="no-js no-touch supports-no-cookies" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="{{ settings.accent_secondary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <!-- ======================= Broadcast Theme V3.1.0 ========================= -->

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com" crossorigin>

  <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'vendor.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style"> 

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================ -->
  {% capture seo_title %}
    {% assign title_content = page_title %}
    {% if template == 'password' %}
      {% assign title_content = shop.name %}
    {%- endif -%}
    {{ title_content }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% else %}
    <meta name="description" content="{{ shop.description | escape }}">
  {% endif %}

  {% render 'social-meta' %}

  <!-- CSS ================================================================== -->

  {{ 'font-settings.css' | asset_url | stylesheet_tag }}

  {% render 'css-variables' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <script>
    if (window.navigator.userAgent.indexOf('MSIE ') > 0 || window.navigator.userAgent.indexOf('Trident/') > 0) {
      document.documentElement.className = document.documentElement.className + ' ie';

      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    } else {
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    }

    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.preloadAfterLoad = true;

    {% assign swatch_translation = 'general.swatches.color' | t %}
    {% assign swatch_labels = swatch_translation | append: ',' | split: ',' %}

    {% assign show_first_swatch = false %}

    {% if settings.show_first_swatch and settings.quickview_enable == false %}
      {% assign show_first_swatch = true %}
    {% endif %}

    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }

    window.theme = {
      routes: {
        root: root,
        cart: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
        search_url: '{{ routes.search_url }}'
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        swatches: '{{ "swatches.json" | asset_url }}',
        base: "{{ 'nothing.jpg' | asset_url | split: 'nothing.jpg' | first }}",
        no_image: "{{ image | img_url: '1024x' }}",
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        from: {{ 'products.general.from' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        resultsFor: {{ 'general.search.results_for' | t | json }},
        noResultsFor: {{ 'general.search.no_results_for' | t | json }},
        shippingCalcSubmitButton: {{ 'cart.shipping_calculator.calculate_shipping' | t | json }},
        shippingCalcSubmitButtonDisabled: {{ 'cart.shipping_calculator.calculating' | t | json }},
        selectValue: {{ 'products.product.select_value' | t | json }},
        oneColor: {{ 'collections.general.colors_with_count.one' | t | json }},
        otherColor: {{ 'collections.general.colors_with_count.other' | t | json }},
        upsellAddToCart: {{ 'products.general.upsell_add_to_cart' | t | json }},
        free: {{ 'general.money.free' | t | json }}
      },
      customerLoggedIn: {% if customer %}true{% else %}false{% endif %},
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
      moneyFormat: {{ shop.money_format | json }},
      cartDrawerEnabled: {{- settings.enable_cart_dropdown | json -}},
      enableQuickAdd: {{ settings.quickview_enable | json }},
      swatchLabels: {{ swatch_labels | json }},
      showFirstSwatch: {{ show_first_swatch | json }},
      transparentHeader: false,
      info: {
        name: 'broadcast'
      },
      version: '3.1.0'
    };
  </script>

  {% if template.directory == 'customers' or settings.enable_cart_dropdown or template contains 'cart' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  <!-- Theme Javascript ============================================================== -->
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  <!-- Shopify app scripts =========================================================== -->

  {{ content_for_header }}
</head>
<body id="password" class="template-password{% if customer %} customer-logged-in{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}" data-animations="{{ settings.animations_enable }}">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div class="container" data-site-container>

    <!-- CONTENT -->
    <main role="main" id="MainContent" class="main-content">

      {{ content_for_layout }}

    </main>
  </div>

  {%- render 'cart-templates' -%}

</body>
</html>
