<!-- /sections/main-page.liquid -->
{%- assign animation_anchor = '#page--' | append: section.id -%}
{% if section.settings.show_content or section.settings.subheading != blank or section.settings.show_title %}  
  <section class="index-page {{ section.settings.text_color }} {{ section.settings.height }}" id="page--{{ section.id }}" style="background-color: {{ section.settings.bg_color }};" data-section-id="{{ section.id }}" data-section-type="page">
    <div class="{{ section.settings.width }}">
      <div class="text__standard {{ section.settings.align_text }}">
        {% if section.settings.subheading != blank %}
          <p class="standard__subheading"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="1">
            {{ section.settings.subheading }}
          </p>
        {% endif %}
        {% if section.settings.show_title %}
          <h2 class="h4 standard__heading"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="2">
            {{ page.title }}
          </h2>
        {% endif %}
        {% if section.settings.show_content %}
          {% assign font_size_class = section.settings.text_size | plus: 1 | prepend: 'font--' %}
          <div class="standard__rte {{ font_size_class }}"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="3">
            <div class="rte">{{ page.content }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show content",
      "default": true
    },
    {
      "type":  "range",
      "id":    "text_size",
      "label": "Text size",
      "min":    1,
      "max":    5,
      "step":   1,
      "default":2
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "text-left",
      "options": [
        {"value": "text-left","label": "Left"},
        {"value": "text-center","label": "Centered"}
      ]
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "default": "margin--medium",
      "options": [
        {"value": "margin--small", "label": "Small"},
        {"value": "margin--medium", "label": "Medium"},
        {"value": "margin--large", "label": "Large"}
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        {"value": "wrapper", "label": "Normal"},
        {"value": "wrapper--narrow", "label": "Narrow"},
        {"value": "wrapper--full", "label": "Wide"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "White"},
        { "value": "text-dark", "label": "Dark"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
