<section class="page">
  <h2 class="page__heading">{{ 'general.404.title' | t }}</h2>
  <p class="center text--404">{{ 'general.404.subtext_html' | t }}</p>

  <main-search>
  <div class="search-outer">
    <form action="{{ routes.search_url }}" class="search-form">
      <input name="options[prefix]" type="hidden" value="last">
      <div class="input-holder">
        <input
          type="search"
          name="q"
          class="search-box"
          aria-label="{{ 'general.search.placeholder' | t }}"
          placeholder="{{ 'general.search.title' | t }}"
          value="{{ search.terms }}">
          <button type="reset" class="search-reset{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
            {{- 'general.search.clear' | t -}}
          </button>
        </div>
      <button type="submit" class="btn btn--primary btn--solid search-submit" aria-label="{{ 'general.search.search' | t }}">{%- render 'icon-search' -%}</button>
    </form>
  </div>
</main-search>
</section>

{% schema %}
{
  "name": "404",
  "templates": ["404"]
}
{% endschema %}