<!-- /sections/section-supporting-menu.liquid -->

{%- liquid
  assign languages = false
  assign currencies = false

  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign languages = true
  endif

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currencies = true
  endif
-%}

{%- style -%}
  #SupportingMenu--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<section id="SupportingMenu--{{ section.id }}"
  class="supporting-menu section-padding"
  data-section-id="{{ section.id }}"
  data-section-type="supporting-menu"
>
  <div class="supporting-menu__inner wrapper--full-padded">
    {%- if languages or currencies -%}
      <div class="supporting-menu__item supporting-menu__item--localization">
        {%- render 'localization' section: section, class: 'footer', show_icon: true -%}
      </div>
    {%- endif -%}

    <div class="supporting-menu__item supporting-menu__item--copyright">
      <ul class="supporting-menu__copyright inline-list">
        <li>
          <a href="{{ shop.secure_url }}">&copy; {{ shop.name }} {{ 'now' | date: "%Y" }}</a>
        </li>
        {% for link in linklists[section.settings.linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}

        <!-- The following lines fix Lighthouse security warnings on the Shopify link.-->
        {%- liquid
          assign powered_by_link_html = powered_by_link
          if powered_by_link_html contains 'rel="'
            assign powered_link_rel_text = powered_by_link_html | split: 'rel="'
            assign powered_link_rel_text = powered_link_rel_text[1] | split: '"' | first
            assign powered_link_rel = 'rel="' | append: powered_link_rel_text | append: '"'
            assign powered_by_link_html = powered_by_link_html | replace_first: powered_link_rel, ''
          endif
          if powered_by_link_html contains '<a '
            assign powered_by_link_html = powered_by_link_html | replace: '<a ', '<a rel="noopener" '
          endif
          assign powered_by_link = powered_by_link_html
        -%}

        <!-- Remove the following line to delete 'Powered by Shopify' from your footer -->
        <li data-powered-link>{{ powered_by_link }}</li>
        <!-- Do not delete below this line -->
      </ul>
    </div>

    {%- if section.settings.footer_payment_enable -%}
      {%- unless shop.enabled_payment_types == empty -%}
        <div class="supporting-menu__item supporting-menu__item--payment">
          <ul class="supporting-menu__payment payment-icons inline-list">
            {%- for type in shop.enabled_payment_types -%}
              <li>{{ type | payment_type_svg_tag: class: 'payment-icon' }}</li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endunless -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Supporting menu",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Bottom bar"
    },
    {
      "type": "link_list",
      "id": "linklist",
      "label": "Link List",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "checkbox",
      "id": "footer_payment_enable",
      "label": "Show payment types",
      "default": true
    },
    {
      "type": "header",
      "content": "language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "select",
      "id": "type",
      "label": "Type",
      "options": [
        {
          "value": "currency",
          "label": "Currency"
        },
        {
          "value": "country",
          "label": "Country"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "Supporting menu",
      "category": "Text"
    }
  ],
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}